# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.22'

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...

    # Set a stage here called PrintInfo that prints out the commit information and the review information.
    - name: PrintInfo
      run: |
        echo "Commit: ${{ github.event.commits[0].id }}"
        echo "Commit Date: ${{ github.event.commits[0].timestamp }}"
        echo "Author: ${{ github.event.commits[0].author.name }}"
#        echo "Review: ${{ github.event.review }}"
#        echo "Reviewers: ${{ github.event.reviewers }}"
